
* {
  background-color: rgb(198, 224, 233);
}

body {
  font-family: Garamond, Palatino, Times, serif;
  font-size: 24px;
  color: rgb(9, 51, 75);
  border: 10px solid;
}

/*
Images
------------------------------------------------------*/
img {
  border-radius: 10px;
}

#salmon, #cookie {
  width: 72%;
  margin: 80px auto 0px auto;
  display: block;
  align-items: center;
}

#cookie {
  width: 40%;
  border-width: 10px;
}

#chinook, #family {
  display: block;
  margin: 40px;
  width: 90%;
}

#cutter {
  margin: 40px;
  width: 30%;
  float: right;
}

#shirt, #stuffies {
  width: 24%;
}

/*
Text
-------------------------------------------------*/
h1 {
  font-family: "Vast Shadow", cursive;
  font-size: 56px;
  color: rgb(34, 148, 11);
  width: 80%;
  margin: 20px auto;
  text-align: center;
  border-style: solid;
  border-color: rgb(9, 51, 75);
  border-width: 10px 0px 10px 0px;
  padding: 20px;
}


h2 {
  font-size: 48px;
  width: 80%;
  margin: 20px auto 40px auto;
  text-align: center;
}


#locations, #ingredients, #merch {
  border-style: double;
  padding: 10px;
  margin: 50px 15px;
  border-width: 5px 0px 5px 0px;
  border-color: rgb(9, 51, 75);
  background-color: rgb(183, 211, 219);
}


#ingredients {
  width: 48%;
  float: right;
  box-sizing: border-box;
}


#ingredients p::first-line {
  font-weight: bold;
}

#punch {
  font-weight: bold;
}

p, ul, li, h3, h4, h6, em {
  background-color: inherit;
}

h3 {
  font-size: 40px;
  width: 80%;
  text-align: center;
  margin: 10px;
}

h4 {
  font-size: 32px;
  width: 80%;
  margin: 5px;
  text-align: center;
}

h6 {
  font-size: 16px;
  width: 80%;
}


nav {
  width: 40%;
}

nav ul li {
  display: inline;
  padding: 20px;
  font-weight: bold;
}

/* PSC grid system
---------------------------*/
.row, .column {
  box-sizing: border-box;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

.column {
  position: relative;
  float: left;
}

.col-1 {
  width: 8%;
}

.col-2 {
  width: 16%;
}

.col-3 {
  width: 24%;
}

.col-4 {
  width: 32%;
}

.col-5 {
  width: 40%;
}

.col-6 {
  width: 48%;
}

.col-7 {
  width: 56%;
}

.col-8 {
  width: 64%;
}

.col-9 {
  width: 72%;
}

.col-10 {
  width: 80%;
}

.col-11 {
  width: 88%;
}

.col-12 {
  weidth: 96%;
}
