/*
Custom font for highlights
sans-serif web font for data
serif web font for text
  different font colors for each of these three fonts
------------------------------------------------------*/
/*
Background color for default page
different background color for elements
------------------------------------------------------*/
body {
  font-family: serif;
}

h1 {
  font-family: "Vast Shadow", cursive;
  font-size: 48px;
}

img {
  width:20%;
}

nav ul li {
  display: inline;
}
/* PSC grid system
---------------------------*/
.row, .column {
  box-sizing: border-box;
}

.row::before, .row::after {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}

.column {
  position: relative;
  float: left;
}

.col-1 {
  width: 8%;
}

.col-2 {
  width: 16%;
}

.col-3 {
  width: 24%;
}

.col-4 {
  width: 32%;
}

.col-5 {
  width: 40%;
}

.col-6 {
  width: 48%;
}

.col-7 {
  width: 56%;
}

.col-8 {
  width: 64%;
}

.col-9 {
  width: 72%;
}

.col-10 {
  width: 80%;
}

.col-11 {
  width: 88%;
}

.col-12 {
  weidth: 96%;
}
